block container
    table(class="table table-bordered table-hover table-responsive", style='margin-top:10%;')
        thead
            tr(bgcolor="#ffa834")
                th Position
                th Username
                th Score
        tr
            th 1
            th test
            th 0