block container
    h2(style='margin-top:4%;') Welcome to Wordify!
    p(style='margin-top:5%;') Here is where the rules will be, it will go on bla bla bla bla 
    row(class='col-xs-12 text-center', style='margin-top:7%')
        button(class='btn btn-lg btn-default', type='submit' style='margin-top:6%; padding:4% ', onclick='loadPage("loggedIn")') Back