block container
    h2(style='text-align: center; margin-top:40%;') Searching For Players
    div(class="progress")
        div(class="progress-bar progress-bar-success progress-bar-striped active", role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width:100%")
    div(class='row', style='text-align:center; ')
        button(class='btn btn-lg btn-default', type='submit' style='margin-top:6%; padding:4%; ', onclick='loadHomePage()') Cancel