block container
    h2(style='text-align: center; margin-top:40%;') Searching For Players
    div(class="progress")
        div(class="progress-bar progress-bar-success progress-bar-striped active", role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width:100%")
    .script
        //this script makes the client listen for messages, this is important to listen for when we inform them that somone has joined their room