block container
    form(id="form", method='POST', onsubmit='return submitForm("signup")')
        .row(class='col-xs-12 text-center', style='margin-top:10%;')
            div(class='input-group')
                div(class='input-group-addon', style='font-size:150%')
                    span(class='glyphicon glyphicon-envelope')
                input(id='email', name='email', type='text', placeholder='email', class='form-control input-md', required='', style='font-size:170%')
        .row(class='col-xs-12 text-center', style='margin-top:7%;')
            div(class='input-group')
                div(class='input-group-addon', style='font-size:150%')
                    span(class='glyphicon glyphicon-user')
                input(id='username', name='username', type='text', placeholder='Username', class='form-control input-md', required='', style='font-size:170%')
        .row(class='col-xs-12 text-center', style='margin-top:7%')
            div(class='input-group')
                div(class='input-group-addon', style='font-size:150%')
                    span(class='glyphicon glyphicon-asterisk')
                input(id='password', name='password',onkeyup='check();', type='password', placeholder='Password', class='form-control input-md', required='', style='font-size:170%')
        .row(class='col-xs-12 text-center', style='margin-top:7%')
            div(class='input-group')
                div(class='input-group-addon', style='font-size:150%')
                    span(class='glyphicon glyphicon-asterisk')
                input(id='confirm_password', onkeyup='check();', name='confirm_password', type='password', placeholder='Confirm Password', class='form-control input-md', required='', style='font-size:170%')
            span(id='message') Please Complete All fields 
        .row(class='col-xs-12 text-center', style='margin-top:7%')
            button(class='btn btn-lg btn-default',id='submit_btn' type='submit' style='margin-top:6%; padding:4%; disabled=true') Sign Up
    .row(class='col-xs-12 text-center', style='margin-top:0%; text-align:left')
        button(type="button", class="btn btn-default btn-arrow-left", onclick='loadPage("home")', style='font-size:120%') Back
    
    script. 
        var check = function() {
            if (document.getElementById('password').value ==document.getElementById('confirm_password').value) {
                if(document.getElementById('password').value==""){
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'You must enter a password';
                    document.getElementById('submit_btn').disabled = true;
                }else{
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Passwords match';
                    document.getElementById('submit_btn').disabled = false;
                }
            }else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Passwords do not match!';
                document.getElementById('submit_btn').disabled = true;
            }
        }